<h1>

Devolução NF-e

</h1>

<hr>

<h2>

Dados Gerais

</h2>

<input

placeholder="ID"

[(ngModel)]="request.id">

<input

placeholder="Operação"

type="number"

[(ngModel)]="request.operacao">

<input

placeholder="Natureza Operação"

[(ngModel)]="request.naturezaOperacao">

<input

placeholder="Modelo"

type="number"

[(ngModel)]="request.modelo">

<input

placeholder="Finalidade"

type="number"

[(ngModel)]="request.finalidade">

<input

placeholder="Chave NF-e Origem"

[(ngModel)]="request.chaveNfeOrigem">

<hr>

<h2>

Cliente

</h2>

<input

placeholder="CPF"

[(ngModel)]="request.cliente.cpf">

<input

placeholder="Nome"

[(ngModel)]="request.cliente.nomeCompleto">

<input

placeholder="Email"

[(ngModel)]="request.cliente.email">

<input

placeholder="Telefone"

[(ngModel)]="request.cliente.telefone">

<hr>

<h2>

Produtos

</h2>

<div

*ngFor="let produto of request.produtos; let i=index"

class="produto">

<h3>

Produto {{i+1}}

</h3>

<input

placeholder="Código"

[(ngModel)]="produto.codigo">

<input

placeholder="Nome"

[(ngModel)]="produto.nome">

<input

type="number"

placeholder="Quantidade"

[(ngModel)]="produto.quantidade">

<input

type="number"

placeholder="Total"

[(ngModel)]="produto.total">

</div>

<button

(click)="adicionarProduto()">

+ Adicionar Produto

</button>

<hr>

<button

(click)="devolver()">

Emitir NF-e de Devolução

</button>

<hr>

<div *ngIf="resposta">

<h2>

Resultado

</h2>

<p>

UUID:

{{resposta.uuid}}

</p>

<p>

Status:

{{resposta.status}}

</p>

<p>

Motivo:

{{resposta.motivo}}

</p>

<p>

Chave:

{{resposta.chave}}

</p>

<a

[href]="resposta.xml"

target="_blank">

Baixar XML

</a>

<br><br>

<a

[href]="resposta.danfe"

target="_blank">

Visualizar DANFE

</a>

<p>

Data Criação:

{{resposta.dataCriacao}}

</p>

</div>
